In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
import pandas as pd
import numpy as np
path = "./gdrive/MyDrive/cs464_hw2_csv_file/dataset.csv"
data = pd.read_csv(path)
data

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,label
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,1
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2.930406,2.376523,9.487627,6.187797,3.343416,-1.449106,-0.658054,-1.236256,0.601709,0.813512,0.779642,0.608385,0
59996,3.392299,2.954947,1.274827,6.894759,4.349512,-0.952437,-1.663661,-1.733414,0.502079,0.285880,0.567242,0.366120,1
59997,2.364034,8.776391,2.842030,1.008906,4.299976,-0.943884,-1.380719,-1.975373,0.487838,0.149286,0.986505,0.145984,1
59998,9.631511,2.757071,3.994398,7.821347,2.514755,-0.649915,-0.966330,-0.898510,0.365246,0.889118,0.587558,0.818391,0
59999,6.530527,4.349695,6.781790,8.673138,3.492807,-1.532193,-1.390285,-0.570329,0.073056,0.378761,0.505441,0.942631,0

In [23]:
dataset = data.to_numpy()

In [30]:
def normalize(data): # To normalize the dataset
    for i in range(np.shape(data)[1]): 
        indiced_data=data[:,i]
        x_max=np.max(indiced_data)
        x_min=np.min(indiced_data)
        normalized_data=(indiced_data-x_min)/(x_max-x_min)
        data[:,i]= normalized_data   
    return data

def sigmoid(x): # sigmoid function with having + in the denominator
  return 1/(1+np.exp(x))

def get_weight(mu=0,sigma=1,n=13):  # gets weight from gaussian dist
  return np.random.normal(mu,sigma, size=(n,1))

def MCLE(y,z):  # z is sum_of_wx_and_w0
  if y == 1:
    return 1-sigmoid(z)
  else:
    return sigmoid(z)

def update_weights(feature_vector, labels, learning_rate_alpha, prev_weights):
        sum_of_wx=np.dot(feature_vector, prev_weights[1:]) # gets sum of x_i * w_i
        z=prev_weights[0]+sum_of_wx # sum with w0
        probability_vector= MCLE(1,z) # gets a vector of probabilities from MCLE
        loss=labels-probability_vector # y-y_hat
        new_weights=np.zeros(prev_weights.shape[0])
        new_weights[1:] = prev_weights[1:] + learning_rate_alpha*(np.dot(np.transpose(feature_vector),loss))
        new_weights[0]=prev_weights[0]+learning_rate_alpha*np.sum(loss)        
        return new_weights

In [31]:
feature_vector = normalize(dataset)
labels = feature_vector[:,12]
learning_rate_alpha = 0.01
prev_weights = get_weight()
# update_weights(feature_vector, labels, learning_rate_alpha, prev_weights)